Assets/*
!Assets/**/

Assets/EcoModKit/*
!Assets/EcoModKit/**/

Assets/EcoModKit/Scripts/*
!Assets/EcoModKit/Scripts/**/


Assets/EcoModKit/Scripts/Editor/*
!Assets/EcoModKit/Scripts/Editor/**/

Eco.Client.csproj
Editor.EcoModKit.csproj
Editor.VoxelEngine.csproj
IconGenerator.sln
Library/
Logs/
Packages/
ProjectSettings/
Temp/
UserSettings/